<!DOCTYPE html>
{% load static %}
<html lang='en'>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{{title}}</title>
  </head>
  <body>
    <h2>Signup {{cname}}</h2>
    <img src="{% static 'images/pic1.jpg' %}" alt="dj" style="width: 200px; height: 150px;" />
    <img src="{% static 'images/love.jpg' %}" alt="love" style="width: 200px; height: 150px;" />
    <img src="{% get_static_prefix %}images/dubai.jpeg" alt="love" style="width: 200px; height: 150px;" />
    <form action="" method="post" novalidate>
      <input type="button" value="Click me" onclick="disp()" />
      {% csrf_token %}
      {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
    {% if messages %}
      {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </small>
      {% endfor %}
    {% endif %}
    <a href="{% url 'login' %}">Login</a>
  </body>
</html>